@font-face {
  font-family: 'LucidaGrande';
  src: url('https://static.wfonts.com/data/2015/10/29/lucida-grande/LucidaGrande.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'LucidaGrande';
  src: url('https://static.wfonts.com/data/2015/10/29/lucida-grande/LucidaGrande.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'AppleGaramond';
  src: url('../fonts/AppleGaramond-Light.ttf');
}

/* p {
  font-size: 18px;
} */

a {
  color: inherit;
  text-decoration: none;
}
a .in-text {
  color: blue;
}

h1 {
  color: inherit;
  font-size: 5vw;
  font-family: 'AppleGaramond';
}

h2 {
  font-family: 'Lucida Grande', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

h3 {
  /* color: inherit; */
  font-size: 1.5vw;
  font-family: 'Lucida Grande', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

p {
  font-family: 'LucidaGrande', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 1.5vw;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}



body {

  /* background-color: #FAA613; */
  background-image: url("../images/OS-X-Cheetah-Aqua-wallpaper.jpg");
  background-attachment: fixed;
  color: black;
}

.movable {
    /* background-image: url("../images/stripe-white-paper-texture-background.jpg"); */
    background: repeating-linear-gradient(
      to bottom, /* Direction from top to bottom */
      #FFFFFF,
      #FFFFFF 2px,
      #e9e9e9 2px,
      #e9e9e9 5px
    );
    color: black;
    text-align: center;
    cursor: grab; /* Cursor indicates it can be grabbed */
    position: absolute; /* Essential for JS positioning */
    top: 50px;
    left: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    user-select: none; /* Prevent text selection while dragging */
    overflow: hidden;
}

.movable:active {
    cursor: grabbing;
}

#content {
  height: 50vh;
  width: 60vh;
}

.top-bar {
    /* Top bar specific styles */
    background-color: #708090;
    opacity: 60%;
    color: red;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Pushes logo to the left and links to the right */
    align-items: center;
    /* Makes sure the top bar doesn't grow if main content needs space */
    flex-shrink: 0;
}

.top-bar a {
    color: red;
    text-decoration: none;
    margin-left: 20px;
}


