p {
  font-size: 18px;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  color: black;
  font-size: 13rem;
}

h2 {
  color: white;
  font-size: 9rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

footer {

  height: 30vh;
  padding: 1% 5%;
  text-align:center;
  background-color: #e4b1ab;
  color: white;
  vertical-align: center; 
  bottom: 0;

}


section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;*/


}

section.home {

  /*background: url("../images/back_collage.png");*/
  background-size: cover;
  background-color: black;

}

section.about {

  background-color: white;

}


.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

}

.headline {
  color: black;
  font-family: sans-serif;
  font-size: 2.5rem;
}

.highlight {
  transition: all 0.2s ease;
}

.highlight:hover {
  text-shadow: 0 2.1rem #e4b1ab, 0 -2.1rem #e4b1ab;
  cursor: pointer;
}

.topnav-highlight {
  transition: all 0.2s ease;
}

.topnav-highlight:hover {
  text-shadow: 0 2.1rem #e4b1ab;
  cursor: pointer;
}

.topnav {
  background-color: white;
  overflow: visible;

}

#animation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 10px;

}

div.sketch {
  margin: auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
  width: 50%;

}

img.sketch {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 10px;
}


/*.overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: flex;
  align-items: center;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s;
}

.overlay img{
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  transform: scale(0.95);
  transition: transform .3s;
}

.overlay:target {
  visibility: visible;
  outline: none;
  cursor: default;
}

.overlay:target img {
    transform: scale(1);
}*/


iframe.yt_embed{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50vh;
  padding-top: 10px;
  border: none;
}

#centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50vh;
  padding-top: 10px;
  border: none;
}
