p {
  font-size: 18px;
}

a {
  color: white;
  text-decoration: none;
}
a .in-text {
  color: blue;
}

h1 {
  color: white;
  font-size: 6.5vw;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: "Times New Roman", Times, serif;
}
p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5vw;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

body {

  background-color: #FAA613;
  color: white;
}

footer {

  height: 30vh;
  padding: 1% 5%;
  text-align:center;
  background-color: #e4b1ab;
  color: white;
  vertical-align: center;
  bottom: 0;

}

header {

  padding-left: 20px;
  padding-right: 20px;
  height: 10vh;
  vertical-align: center;
  /* background-color: white; */
}
header h1 {
  font-size: 3.5vw;
}
header .header-left {
  float: left;
}
header .header-right {
  float: right;
}
header .fa {
  padding-top: 4.5vh;
  font-size: 2.5vw;
  color: white;
  width: 50px;
  text-align: left;
  text-decoration: none;
}

.content {
  margin: 5vw;
  margin-left: 25vw;
}

.about {
  text-align: left;
  color: white;

}

.about .left-col {
  float: left;
  width: 15%;
}
.about .right-col {
  float: right;
  width: 85%;
}


.projects {
  padding-top: 30vh;
}
.projects h1 {
  font-size: 3vw;
}

button.button1 {
  background-color: #FFFFFF;
  border: 2px solid #000000;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button.button1:hover {
  background-color: #000000;
  border: 2px solid #000000;
  color: #FFFFFF;

}


/* .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

} */

.headline {
  color: white;
  font-size: 3.1vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: 20px;

}

.sub-header {
  color: white;
  font-family: sans-serif;
  font-size: 1.5rem;
}

.highlight {

  transition: all 0.1s ease;

}

.highlight:hover {
  text-shadow: 0 1rem #C8A2C8, 0 -1rem #C8A2C8;
  cursor: pointer;
}

.topnav-highlight {
  transition: all 0.2s ease;
}

.topnav-highlight:hover {
  text-shadow: 0 4.1rem #e4b1ab;
  cursor: pointer;
}

.topnav {
  background-color: white;
  overflow: visible;

}

#animation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 10px;

}

div.sketch {
  margin: auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
  width: 50%;

}

img.sketch {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 10px;
}

img.sketch-hidden {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 10px;
}

img.sketch-hidden1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 10px;
}

img.sketch-hidden2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 10px;
}

div.report {
  margin: auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
  width: 60%;

}

div.figure {
  padding-top: 15vh;
  padding-bottom: 15vh;

}

div.section{
  padding-bottom: 10vh;

}

/*.overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: flex;
  align-items: center;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s;
}

.overlay img{
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  transform: scale(0.95);
  transition: transform .3s;
}

.overlay:target {
  visibility: visible;
  outline: none;
  cursor: default;
}

.overlay:target img {
    transform: scale(1);
}*/


iframe.yt_embed{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50vh;
  padding-top: 10px;
  border: none;
}

#centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50vh;
  padding-top: 10px;
  border: none;
}

#centered_after {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50vh;
  padding-top: 10px;
  margin-top: 100px;
  border: none;
}

div .graph {
  width: 100%;
}

div .pie {
  width:80%;
}

div .image-description {
  font-style: italic;
  width : 90%;
  text-align: center

}
